.app {
  padding: 24px;
  background-color: #282c34;
  min-height: 1000px;
  z-index: 0;
}

.app-header {
  text-align: left;
  margin-bottom: 24px;
}

.action-buttons {
  display: flex;
  margin-bottom: 24px;
}

.questions-list {
  display: flex;
}