.login-container {
  background-color: #282c34;
  width: 1920px;
  height: 937px;
}

.login-inputs {
  top: 35%;
  left: 45%;
  position: absolute;
}

.login-username {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.login-password {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.login-actions {
  display: flex;
}
