.register-container {
  background-color: #282c34;
  width: 1900px;
  height: 880px;
}

.register-inputs {
  top: 35%;
  left: 45%;
  position: absolute;
}

.register-input-row {
  display: flex;
  margin-bottom: 24px;
}
