body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-size: 24px;
  margin: 0px;
}

.subheader {
  font-size: 18px;
  margin: 0px;
}

.body-medium {
  font-size: 13px;
  font-weight: 650;
  margin: 0px;
}

.body {
  font-size: 13px;
  margin: 0px;
}

.headline {
  font-size: 11px;
  margin: 0px;
  text-transform: uppercase;
}

.metadata {
  font-size: 11px;
  margin: 0px;
}
