.dialog-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
  position: relative;
  left: 0;
  padding: 24px 16px 16px 16px;
  opacity: 1;
  margin: auto;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 1.2px 1.8px 0.5px rgba(0, 0, 0, 0.18),
    0px 4.8px 7.2px rgba(0, 0, 0, 0.1);
}

.dialog-header {
  text-align: left;
  margin-bottom: 16px;
}

.input-row {
  display: flex;
  margin-bottom: 8px;
}

.answer-row {
  display: flex;
  margin-bottom: 8px;
}

.dialog-body {
  width: 100%;
}

.dialog-error {
  margin-bottom: 8px;
}

.dialog-footer {
  display: flex;
}
